<html>
	<head>
		<title>Collect Information</title>
		<link rel="stylesheet" href="\static\collectust.css">
		<script src="\static\GetInfo.js"></script>
	</head>
	<body>
		<form action="/info" method="post">
			<div id="login">
				<table id="tbllogin">
					<tr>
						<td><label id="lblusername">Username</label></td>
						<td><input id="txtusername" name="txtusername"></input></td>
					</tr>
					<tr>
						<td><label id="lblusername">Password</label></td>
						<td><input id="txtpassword" name="txtpassword"></input></td>
					</tr>
					<tr>
						<td><button id="btnsubmit">Submit</button></td>
					</tr>
				</table>
			</div>
		</form>
	</body>
</html>
